<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meyer.IsParkv2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="13" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".IsParkv2Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapViewActivity" ></activity>
        <activity android:name=".ListParkActivity" ></activity>
        <activity android:name=".HistoActivity"></activity>
        <activity android:name=".ReservationGroup" ></activity>
        <activity android:name=".HistoriqueGroup" ></activity>
        <activity android:name=".HistoReservationActivity" ></activity>
        <activity android:name=".ReservationActivity"></activity>
        <activity android:name=".FinReservationActivity"></activity>
        
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>